@import url(https://db.onlinewebfonts.com/c/0fc59c9e01146174219b63566981f325?family=Le+Jour+Serif);
@import url(https://db.onlinewebfonts.com/c/66ea2f27441b782f8f036eba1471d3ab?family=Hero);
@import url(https://db.onlinewebfonts.com/c/4249bbcb42a42840f81e0323e1d0a9b1?family=Hero-Light);
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body{
    margin:0;
    padding: 0;
    height: 100%;
    background-color: white;
}
.header{
    text-align: center;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr  ;
    height: 140px;
}
#name{
    font-family: 'Le Jour Serif', sans-serif;
    font-size: 80px;
    display: grid;
    line-height: 100px;
    letter-spacing: 6px;
    margin-top: 20px;
}#sub{
    font-family: 'Hero-Light', sans-serif;
    margin-top: 0px;
    font-size: 20px;
    display: grid;
    letter-spacing: 6px;
}
.img{
    display: flex;
    align-items: flex-start;
    height: 100px;
    margin-top: 25px;
    margin-left: 20px;
}
#top{
    display: flex;
    justify-content: center;
    align-items: center;
}
.profile{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    justify-content: end;
    align-items: flex-start;
    margin-right: 20px;
}
.sec{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr ;
    position:sticky;
    top:0px;
    background-color: rgba(255, 255, 255);
    z-index: 1000;
    padding:7px; 
}
.stickborder{
    color: #000; 
    text-decoration:none;
    transition: all 0.3s ease;
}
.stickborder:hover{
    color:rgb(179, 110, 8);
    text-decoration: underline 3px;
    text-underline-offset: 10px; 
}
.head2{
    font-family: 'Le Jour Serif';
    font-size: 13px;
    margin-top: 25px;
    margin-bottom: 15px;
    line-height: 0.5px;
    margin-left: 85px;
    font-weight: bold;
    letter-spacing: 2px;
}
.header-box {
    background-color: #FFD0C6;
    padding: 10px;
    margin: 0; 
    margin: 0; 
    width: 100%; 
    box-sizing: border-box;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.header-box h1 {
    font-family: 'Montserrat';
    font-size: 40px; 
    font-weight: 300;
    color: #000000; 
}
    

.container {
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    /* background-color: #f0f0f0; */
  }
  
  .container {
    max-width: 1200px;
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .box:hover{
    margin-top: 20px;
    background-color: rgb(185, 86, 86);
    
    color: rgb(3, 3, 3);
}
  
  .box {
    width: 300px;
    height: 200px;
    margin: 20px;
    background-color: #d06a6f;
    color:white;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
  }
  
  .box img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 10px;
    border: 2px solid white;
  }
  h3{
  }
  
  h2 {
    margin: 0;
    font-family: 'Montserrat';
    font-weight: 500;
    color: white;
  }
  .first{

  }
  .middle:hover{
    background: white;
  }
  .middle{
    background-color: white;
  }
  .midimg{
    width: 300px;
    height: 300px;
  }
  footer {
    background-color: #FFD0C6;
    margin-bottom: 0px;
    padding: 40px;
    text-align: center;
    justify-content: center;
}

footer p {
    margin: 0;
    font-family: serif;
    font-size: 17px;
    color: black;
}

