    /* @import url(https://db.onlinewebfonts.com/c/0fc59c9e01146174219b63566981f325?family=Le+Jour+Serif);
    @import url(https://db.onlinewebfonts.com/c/4249bbcb42a42840f81e0323e1d0a9b1?family=Hero-Light);
    @import url(https://db.onlinewebfonts.com/c/66ea2f27441b782f8f036eba1471d3ab?family=Hero);  */
    /* body {
        background-color: white;
        margin: 0;
        padding: 0;
    }
    .header{
        text-align: center;
        display:grid;
        grid-template-columns: 1fr 1fr 1fr ;
    }
    
    header {
        background-color: #FFD0C6;
        padding: 0px;
        display: flex;
        justify-content: center;
        align-items: center;

    } */
@import url(https://db.onlinewebfonts.com/c/0fc59c9e01146174219b63566981f325?family=Le+Jour+Serif);
@import url(https://db.onlinewebfonts.com/c/66ea2f27441b782f8f036eba1471d3ab?family=Hero);
@import url(https://db.onlinewebfonts.com/c/4249bbcb42a42840f81e0323e1d0a9b1?family=Hero-Light);
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body{
    margin:0;
    padding: 0;
    height: 100%;
}
.header{
    text-align: center;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr  ;
    height: 140px;
}
#name{
    font-family: 'Le Jour Serif', sans-serif;
    font-size: 80px;
    display: grid;
    line-height: 100px;
    letter-spacing: 6px;
    margin-top: 20px;
}
#sub{
    font-family: 'Hero-Light', sans-serif;
    margin-top: 0px;
    font-size: 20px;
    display: grid;
    letter-spacing: 6px;
}
.img{
    display: flex;
    align-items: flex-start;
    height: 100px;
    margin-top: 25px;
    margin-left: 20px;
}
#top{
    display: flex;
    justify-content: center;
    align-items: center;
}
.profile{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    justify-content: end;
    align-items: flex-start;
    margin-right: 20px;
}
.sec{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr ;
    position:sticky;
    top:0px;
    background-color: rgba(255, 255, 255);

    padding:7px; 
}
.stickborder{
    color: #000; 
    text-decoration:none;
    transition: all 0.3s ease;
}
.stickborder:hover{
    color:rgb(179, 110, 8);
    text-decoration: underline 3px;
    text-underline-offset: 10px; 
}
.head2{
    font-family: 'Le Jour Serif';
    font-size: 13px;
    margin-top: 25px;
    margin-bottom: 15px;
    line-height: 0.5px;
    margin-left: 85px;
    font-weight: bold;
    letter-spacing: 4px;
}
.header-box {
    background-color: #FFD0C6;
    padding: 10px;
    margin: 0; 
    margin: 0; 
    width: 100%; 
    box-sizing: border-box;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.header-box h1 {
    font-family: 'Montserrat';
    font-size: 36px; /* Adjust the font size */
    font-weight: 300;
    color: #000000; /* Text color */
}
    

    .container {
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-top: 50px;
    }
    
    
    main {
        padding: 20px;
    }
    
    .content-box {
        display: flex;
    }
    
    .box {
        flex: 1;
        background-color: rgb(185, 86, 86);
        padding: 20px;
        margin: 10px;
        margin-top: 20px;
        margin-bottom: 20px;
        text-align: center;
        border-radius: 35px;
        transition: transform 0.5s ease;
      
    }
    .box:hover {
        background-color: rgb(168, 66, 66); /* Change background color on hover */
        transition: background-color 0.3s ease; /* Smooth transition */
        transform: translateY(-5px);
    }
    .box img {
        display: block;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        margin: 0 auto 10px;
    }
    
    .box h2 {
        margin-top: 0;
        font-family: 'Le Jour Serif', sans-serif;
        font-size: 18px;
        letter-spacing: 1px;
        color: rgb(255, 255, 255);
        height: 28px;
        background: linear-gradient(to right, rgba(168, 102, 102, 0), rgb(218, 115, 115), rgba(255,255,255,0));
        padding-bottom: 5px; 

    }

    .box p {
        font-family: 'Hero-Light', sans-serif;
        color: rgb(253, 220, 220);
        text-align: center;
        font-weight: bold;
        font-size: 15px;
    }
    
    footer {
        background-color: #FFD0C6;
        margin-bottom: 0px;
        padding: 30px;
        text-align: center;
    }
    
    footer p {
        margin: 0;
        font-family: serif;
        color: black;
    }
    